<br>
<br>

<form [formGroup]="myForm">
  <h2>Inscription</h2>

  <!-- Nom -->
  <div class="input-group">
    <label for="Nom">Nom Prenom </label>
    <input id="Nom" formControlName="Nom"  placeholder="Entrez votre nom">
    <div *ngIf="myForm.get('Nom')?.invalid && myForm.get('Nom')?.touched">
      <small [ngStyle]="{color: getcolor()}">Le nom est requis.</small>
    </div>
  </div>

  <!-- Email -->
  <div class="input-group">
    <label for="email">Email</label>
    <input id="email" formControlName="email" placeholder="Entrez votre email">
    <div *ngIf="myForm.get('email')?.invalid && myForm.get('email')?.touched">
      <small [ngStyle]="{color: getcolor()}">L'email est requis.</small>
      <small [ngStyle]="{color: getcolor()}">Email invalide.</small>
    </div>
  </div>

  <!-- Message -->
  <div class="input-group">
    <label for="message">Message</label>
    <textarea id="message" formControlName="message" placeholder="Écrivez votre message"></textarea>
    <div *ngIf="myForm.get('message')?.invalid && myForm.get('message')?.touched">
      <small [ngStyle]="{color: getcolor()}">Maximum 300 caractères.</small>
    </div>
  </div>

  <!-- Bouton -->
  <button [ngStyle]="{color: getcolor()}" [ngStyle]="{background: color()}" type="submit" (click)="sucsee()" [disabled]="myForm.invalid">
    Envoyer
  </button>
</form>
