<p-toolbar [style]="{ height: '60px' }">








    <div class="p-toolbar-group-center">
        {{ title }}
    </div>



 <div [ngStyle]="{display: getblog()}" class="dialogue">
    <p style="text-align:center;"> Veiller vous Identifier </p>

    <div class="buton">  <button (click)="identification()"> S'identifier </button> </div>
  </div>



    <div class="p-toolbar-group-end">

         <button onclick="document.getElementById('maBoite').showModal()">

        <i   class="pi pi-shopping-cart btn-shopp" style="font-size: 1.5rem"
         pBadge [value]="cart()?.length || 0" severity="danger"></i>

           </button>
    </div>

</p-toolbar>


 <dialog id="maBoite">

        <button class="fermer" onclick="document.getElementById('maBoite').close()">Fermer</button>

<div class="contener">

<div class="card">
  <p-dataView  [value]="cart()" [rows]="5">
    <ng-template let-cartItem pTemplate="list">
      <div *ngFor="let cartItem of cartItem" class="cart-item">
        <div *ngIf="cartItem">
          <div class="flex" >

            <div class="img">
             <img *ngIf="cartItem.image" [src]="'assets/images/' + cartItem.image" alt="moo" >
</div>

            &nbsp;&nbsp;&nbsp;
            <div class="montext">

            <h3>{{ cartItem.name }}</h3>



            <p>Prix : {{  cartItem.price | currency:'EUR'  }}</p>



              <p>  <button (click)="increment(cartItem.id)" style="padding: 2px 7px;background-color: white;color: black;border-radius: 1px">+</button> {{cartItem.augemente}}     <span  style="padding: 2px 7px;background-color: white;color: black;border-radius: 1px" (click)="decrement(cartItem.id)">-</span></p>
            <button (click)="removeFromCart(cartItem.id)" class="remove-button">
              <i class="fa-solid fa-trash"></i> Retirer
            </button>

          </div>

        </div>

      </div>
        </div>

    </ng-template>
  </p-dataView>

   </div>

</div>
<p style="font-family:sans-serif;font-size: 0.9rem;">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Asperiores debitis delectus dolor ea et minus non quam quasi quod.</p>

   <button class="btn"> Commander <i class="fa-solid fa-thumbs-up"></i> </button>  &nbsp;&nbsp;&nbsp; <button class="btn2"> Annuler </button>

 </dialog>
<p-splitter [panelSizes]="[20, 80]" [style]="{ height: 'calc(100vh - 100px)'}">
    <ng-template pTemplate>
        <div class="w-full">
            <app-panel-menu   />



        </div>


    </ng-template>
    <ng-template pTemplate>


        <div [ngStyle]="{opacity: get_opcity()}" class="w-full app-content">
            <router-outlet></router-outlet>
        </div>

    </ng-template>

</p-splitter>






<script>
   function ouvrirBoite() {
            document.getElementById('overlay').style.display = 'flex';
        }

        function fermerBoite() {
            document.getElementById('overlay').style.display = 'none';
        }
</script>


