<h1 class="text-center">Liste des produits</h1>
<p-button label="Créer produit" (onClick)="onCreate()" class="block text-center"/>

<div class="card">
<p-dataView #dv [value]="products()" [rows]="5" >

        <ng-template pTemplate="list" let-products>
            <div >
                <div  class="item" *ngFor="let item of products; let first = first" >



                    <div>

                      <img src="assets/images/{{item.image}}" alt="">
                      <div >
                            <div >
                                <div>
                                    <div >{{ item.name }}</div>
                                  <div class="p-message-detail">

                                <div> Categories :  {{item.category}}</div>

                                    <div> Quantite: {{item.quantity}} </div>



                                         <div> date: {{item.createdAt | date}} </div>

                                  Prix :   {{item.price | currency:'EUR'}}

                                    <div class="btn" >
           <p-button severity="success"    label="Modifier"  (onClick)="onUpdate(item)"/>
                        <p-button class="btn_supprimer" label="Supprimer"  (onClick)="onDelete(item)" />
                    </div>
                                  </div>

                                </div>

                            </div>

                        </div>
                    </div>


                </div>
            </div>
        </ng-template>
</p-dataView>
<p-dialog [(visible)]="isDialogVisible"
    [style]="{ width: '50vw' }"
    header="Ajout/Edition produit">
    <app-product-form
        [product]="editedProduct()"
        (save)="onSave($event)"
        (cancel)="onCancel()"
    />
</p-dialog>






